.content-info {
    background-color: #f8f9fa;
    color: #000;
    
    &__main-box {
        padding: 70px 0 40px;
        
        &__single {
            display: flex;
            flex-direction: column;
            &--title {
                font-size: 1.6em;
                font-family: $work;
                margin-bottom: 8px;
            }
            
            &--link {
                color: #00000080;
                font-size: 1.4em;
                font-family: $roboto;
                margin-bottom: 10px;
                transition: color .3s;
            }
            
            a {
                text-decoration: none;
            }

            &--link:hover {
                color: #000;
            }

            &__icons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                font-size: 1.6em;


                &__icon-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background-color: $btn-color;
                    border-radius: 50%;
                    
                    a { 
                        color: #000;
                        i {
                            font-size: 1em;
                        }
                    }
                }
                
            }
        }

        &__footer {
            &--text {
                text-align: center;
                color: #00000080;
                font-size: 1.4em;
                margin-top: 70px;
            }
        }
    }
}