@media (max-width: 576px) {

        .header {
            position: relative;
        
            img {
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                height: 90vh;
                width: 100%;
                z-index: 0;
            }
        
            &__text {
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(0%,-50%);
                font-family: $work;
                text-align: center;
                z-index: 6;
               
                &--heading {
                    font-weight: bold;
                    font-size: 4em;
                    margin-bottom: 50px;
                }   
                
                .btn-section {
                    top: 50%;
                    left: 50%;
                    font-family: $roboto;
                    width: 120px;
                    height: 50px;
                    background-color: $btn-color;     
                    color: #fff;
                    font-size: 1.4em;
                    border: none; 
                    border-radius: 25px;     
                }
            }
        
            &__shadow {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.4);
                z-index: 5;
            }
        }
    
        .main {

            &__services {
                font-family: $work;
                color: #000;
                margin: 0 50px;
                .section-heading {
                    @include title-section;
                    margin: 0;
                }
                &__content {
                    width: 100%;
                    height: 100%;
                    
                    .splide {
                        position: relative;
                        
                        &__arrow {
                            margin-top: 30px;
                            width: 70px;
                            height: 40px;
                            border-radius: 30px;
                            background-color: transparent;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            
                            svg {
                                width: 15px;
                                height: 15px;
                            }
                            
                            &--next {
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-40%, 50%);
                            }
            
                            &--prev {
                            position: absolute;
                            top: 100%;
                            left: 10%;
                            transform: translate(0%, 50%);
                            }
                        }
                        
                    }
            
                    &__single {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-evenly;
                        margin: 80px 0 0 0;
                        padding: 20px 30px;
                        height: 50vh;
                        width: 80vw;
                        background-color: rgba(255,255,255,.9);
                        box-shadow: 0px 0px 20px 17px rgba(0, 0, 0, 0.01);
            
                        &--icon {
                            padding-top: 30px;
                            img {
                                width: 65px;
                                height: 65px;
                            }
                        }
                        
                        &--title {
                            font-weight: bold;
                            font-size: 2em;
                        }
            
                        &--text {
                            font-size: 1.4em;
                            color: rgba(0,0,0,.5);
                        }
                        
                        &--btn {
                            text-transform: uppercase;
                            font-weight: bold;
                            text-transform: uppercase;
                            color: #888;
                            font-size: 1.2em;
                        }
                    }
                }
    
            }

            &__aboutus {
                margin: 200px 0 60px;
                background-color: #fff;
                font-family: $roboto;
                
                &__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    // .row {
                       
            
                    &__bg {
                        position: absolute;
                        top: 25%;
                        left: 10%;
                        transform: translate(-50%,-50%);
                        width: 330px;
                        height: 400px;
                        background-color: $btn-color;
                    }
            
                        &__img {
                            img {
                                text-align: center;
                                width: 350px;
                                height: 250px;
                            }
                        }
            
                    &__right {
                        
                        &--title {
                            color:  #00000080;
                            font-size: 2.8em;
                            margin-top: 30px;
                        }
            
                        &--text {
                            font-size: 1.6em;
                            margin: 10px 0;
                        }
                    }
                }
            }

            &__blog-post {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 0%);
                z-index: 10;
                font-family: $work;
                margin-bottom: 50px;
            
                &--heading {
                    font-size: 2.4em;
                    color: $btn-color;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin: 70px 0 50px;
                }
            
                &__content {
                    color: #000;
            
                    .card {
                        width:100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
            
                        .blog-btn {
                            position: relative;
                            font-size: 1.3em;
                            font-family: $work;
                            font-weight: bold;
                                
                                .blog-pencil {
                                    position: absolute;
                                    top: 50%;
                                    left: 13%;
                                    transform: translate(-50%,-50%);
                                    border-radius: 50%;
                                    width: 40px;
                                    height: 40px;
                                    background-color: $btn-color !important;  
                                    color: #fff;      
                                    border: none;
                                    margin-right: 10px;
                            }
                          }
                    }
            
                    .card-body {
                        padding: 40px 30px 30px;
            
                        .card-text {
                            font-weight: bold;
                            font-size: 1.8em;
                            margin-bottom: 30px;
                        }
            
                        .card-btn {
                            font-size: 1.4em;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: bold;
                            color: rgb(153, 149, 149);
                        }
                    }
                }
            }

            &__faqs {
                background-color: $btn-color;
                height: 85vh;
                width: 100%;
                font-family: $work;
            
                &__content {
                    padding-top: 70px;
                    &__left {
                        &--heading {
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #000;
                            font-size: 2.4em;
                        }
                    }
            
                    &__right {
                        margin-top: 30px;
            
                        #sp_easy_accordion-1697125668 {
                            #sp-ea-53 {
                                
                                .ea-card {
                                    background-color: $btn-color;
                                    border: none;
            
                                    .ea-header {
                                        position: relative;
                                        a {
                                            font-size: .9em;
                                            color: #000;
                                            font-weight: 300;
                                            border-bottom: 1px solid rgba(0,0,0,.1);
            
                                            i {
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%,-50%);
                                                left: 100%;
                                                color: #000;
                                            }
                                        }
                                    }
            
                                    .sp-collapse {
                                        .ea-body {
                                            background-color: $btn-color;
                                            background-color: rgba(0,0,0,.1);
            
                                            p {
                                                font-family: $roboto;
                                                font-size: 1.4em;
                                                padding: 16px 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &__testimonitals {
                padding: 100px 0;
                background-color: #f8f9fa;
                font-family: $roboto;
            
                &--title {
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 2.4em;
                    color: $btn-color;
                    margin-bottom: 20px;
                    padding: 0;
                }
            
                &--text {
                    font-size: 1.4em;
                    color: #6c757d;
                    padding: 0;
                }
                
                &__content {
                    color: #6c757d;
                    margin: 50px 0 100px;
            
                    .card {
                        width: 100%;
                        height: 100%;
                        border: none;
                        box-shadow: 0px 0px 20px 17px rgba(0, 0, 0, 0.01);
                        background-color: rgba(255,255,255,.9);
                        margin: 0px;
                        
                        
                        .card-body {
                            margin: 40px 30px 20px;
                            font-weight: bold;
            
                            .card-text {
                                font-size: 1.8em;
                            }
                            
                        }
                        
                        .card-bottom {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: start;
                            font-weight: bold;
                            margin: 0 40px 20px 40px;
                        
                                img {
                                    border-radius: 50%;
                                    width: 50px;
                                    height: 50px;
                                    margin: 0 30px 20px 0;
                                }
            
                                .card-footer-text {
                                    font-size: 1.4em;
                                    color: #000;
            
                                    .position {
                                        font-weight: normal;
                                        color: #888;
                                    }
                                }
                        }
            
                        .testimonitals-btn {
                            position: relative;
                            font-size: 1.4em;
                            font-family: $work;
                            font-weight: bold;
                                
                                .blog-pencil {
                                    position: absolute;
                                    top: 50%;
                                    left: 13%;
                                    transform: translate(-50%,-50%);
                                    border-radius: 50%;
                                    width: 40px;
                                    height: 40px;
                                    color: #fff;      
                                    border: none;
                                    margin-right: 10px;
                                    background-color: $btn-color !important;  
                            }
                        }
                    }
                    
                    
                    
                    &__testimonital-sec {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        margin-top: 50px;
                        
                        &--btn {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 80px;
                            height: 40px;
                            border: 1px solid #bdbdbd;
                            margin: 10px;
                            border-radius: 30px;
                            font-size: 1.6em;
                            background: transparent;
                            transition: border .5s;
                        }
                        
                        &--btn:hover {
                             border: 1px solid #000;
                         }
                         
                    }
                }
            }

            &__socials {
    
                &__text-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 50px 0;
            
                    &--title {
                        font-size: 2.4em;
                        color: $btn-color;
                        font-family: $work;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-bottom: 20px;
                        padding: 0;
                    }
                    
                    
                    &--text {
                        font-size: 1.4em;
                        color: #6c757d;
                        font-family: $roboto;
                        padding: 0;
                    }
                }
            
            }
            
        }

        .content-info {
            .content-info {
                background-color: #f8f9fa;
                color: #000;
                
                &__main-box {
                    padding: 0px 0 40px;
                        
                        &__single {
                            display: flex;
                            flex-direction: column;
                            padding: 0;
                            margin-bottom: 20px;
                            
                            &--title {
                                font-size: 1.8em;
                                font-family: $work;
                                margin-bottom: 8px;
                            }
                            
                            &--link {
                                color: #00000080;
                                font-size: 1.4em;
                                font-family: $roboto;
                                margin-bottom: 10px;
                                transition: color .3s;
                                padding-left: 10px;
                            }
                            
                            a {
                                text-decoration: none;
                            }
                            
                            &--link:hover {
                                color: #000;
                            }
                            
                            &__icons {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 1.6em;
                                
                                
                                &__icon-box {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    width: 40px;
                                    height: 40px;
                                    background-color: $btn-color;
                                    border-radius: 50%;
                                    
                                    a { 
                                        color: #000;
                                        i {
                                            font-size: 1em;
                                        }
                                    }
                                }
                                
                            }
                        }
                        
                        &__footer {
                            &--text {
                                text-align: center;
                                color: #00000080;
                                font-size: 1.4em;
                                margin-top: 70px;
                            }
                        }
                    }
                }
        }

        .subpage {

            &__services {
                margin-bottom: 100px;
                font-family: $work;
                color: #000;
                .section-heading {
                    @include title-section;
                    margin-bottom: 0px;
                }
                &__content {
                    width: 80%;
                    height: 80%;
            
                    &__single {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-evenly;
                        margin-top: 30px;
                        padding: 30px 40px;
                        height: 100%;
                        width: 60vw;
                        background-color: rgba(255,255,255,.9);
                        box-shadow: 0px 0px 20px 17px rgba(0, 0, 0, 0.01);
            
                        &--icon {
                            padding-top: 30px;
                            img {
                                width: 70px;
                                height: 70px;
                            }
                        }
                        
                        &--title {
                            font-weight: bold;
                            font-size: 2em;
                            margin-top: 10px;
                        }
            
                        &--text {
                            font-size: 1.4em;
                            color: rgba(0,0,0,.5);
                            margin-top: 10px;
                        }
                        
                        &--btn {
                            text-transform: uppercase;
                            font-weight: bold;
                            text-transform: uppercase;
                            color: #888;
                            font-size: 1.4em;
                            margin: 10px 0;
                        }
                    }
                }
            
                .carousel {
                    position: relative;
            
                    .carousel-inner {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
            
                    .carousel-item {
                        margin: 0 30px;
                    }
            
                    .carousel-control-prev {
                        width: 70px;
                        height: 40px;
                        position: absolute;
                        top: 110%;
                        left: 20%;
                        transform: translate(-50%, 50%);
                        color: #000;
                        font-size: 2em;
                        
                        .carousel-control-prev-icon {
                        background-color: #fff;
                        font-size: 2em;
                        padding: 20px;
                        }
            
                    }
                    .visually-hidden {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 25px;
                        background-color: #fff;
                        width: 75px;
                        height: 45px;
                        border: 1px solid #888;
                        font-size: .7em;
                    }
            
                    .carousel-control-next {
                        width: 80px;
                        height: 40px;
                        position: absolute;
                        top: 110%;
                        left: 45%;
                        transform: translate(-50%, 50%);
                        color: #000;
                        font-size: 2em;
            
                        .carousel-control-next-icon {
                            background-color: #fff;
                            font-size: 2em;
                            padding: 20px;
                        }
                    }
                }
            }

            &__contact {
                margin: 100px 0 50px;
            
                &--heading {
                    font-size: 2.4em;
                    font-family: $work;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $btn-color;
                    margin-bottom: 10px;
                }
                
                &--text {
                    font-size: 1.4em;
                    font-family: $roboto;
                    color: #00000080;
                    width: 100%;
                    margin-bottom: 50px;
                }
            
                &__content {
                    margin: 20px 0;
                    
                    &__form {
                        .form-group {
                            margin-bottom: 30px;
                            color: #00000080;
                            font-weight: bold;
            
                            label {
                                font-size: 1.4em;
                                margin-bottom: 10px;
                            }
            
                            input {
                                font-size: 1.4em;
                                background: #f8f9fa;
                                padding: 25px 15px;
                                border-radius: 30px;
                                border: none;
                                width: 100%;
                            }
            
                            textarea {
                                background: #f8f9fa;
                                border: none;
                                min-height: 30vh;
                                max-height: 30vh;
                                font-size: 1.4em;
                                padding: 10px;
                            }
            
                        }
            
                        a {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.4em;
                            width: 150px;
                            height: 50px;
                            background-color: $btn-color;
                            border-radius: 30px;
                            color: #fff;
                            text-decoration: none;
                            margin-left: 15px;
                        }
            
                    }
                    
            
                    &__right {
                        color: #000;
                        margin-top: 50px;
            
                        &__contact {
                            margin-bottom: 20px;
                            &--head {
                                font-weight: bold;
                                font-family: $work;
                                font-size: 1.6em;
                                color: #52565e;
                                margin-bottom: 10px;
                            }
            
                            &--text {
                                font-size: 1.4em;
                                color: #00000080;
                                margin-bottom: 0;
                            }
            
                            &__icon-box {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 30px;
                                height: 30px;
                                background-color: $btn-color;
                                border-radius: 50%;
                                margin-right: 5px;
                                
                                a { 
                                    color: #fff;
                                    i {
                                        font-size: 1.5em;
                                    }
                                }
                            }
            
                            &--goto {
                                a {
                                    font-size: 1.4em;
                                    color: $btn-color;
                                    text-decoration: none;
                                    font-family: $roboto;
                                    transition: color .3s;
                                }
            
                                a:hover {
                                    color: rgba(0, 145, 124, 1);
                                }
                            }
                        }
                    }
                }
            }

        }
            
        .section-banner {
                position: relative;
            
                img {
                    background-size: cover;
                    background-position: center;
                    height: 95vh;
                    width: 100%;
                    z-index: 0;
                }
            
                &__text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-family: $work;
                    width: 100%;
                    z-index: 6;
                   
                    &--heading {
                        font-weight: bold;
                        font-size: 4em;
                        margin-bottom: 50px;
                    }

                   p {
                    padding: 0 10px;
                   }
            
                }
            
                &__shadow {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,.4);
                    z-index: 5;
                }
         }

         .nav-mobile {
            position: fixed;
            top: 0;
            height: 100vh;
            width: 60%;
            background-color: #fff;
            z-index: 1000;
            transform: translateX(350%);
            transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
            display: flex;
            align-items: start;
            justify-content: start;
            
            &--active {
                transform: translateX(70%);
            }
            
            &__items {
                margin-top: 150px;
                
                &__list {
                    list-style: none;
        
                    li {
                        position: relative;
                        display: block;
                        color: #000;
                        margin: 0.5em 0;
                        padding: 0.5em 1.5em;
                        font-size: 2em;
                        text-decoration: none;
                        
        
                        .dropdown-menu {
                            background-color: $btn-color;
                            .dropdown-link {
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                justify-content: center;
                                padding-left: 10px;
                                font-size: 1.5em;
                                color: #000;
                                transition: color .3s;
                            }
        
                            .dropdown-link:hover {
                                color: $btn-color;
                            }
                        }
        
                        a {
                            text-decoration: none;
                            color: #000;
                        }
        
                        
                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 3px;
                            height: 100%;
                            transform: scaleY(0);
                            background-color: $btn-color;
                            transition: transform .3s;
                            content: '';
                        }
                        
                        &:hover::before {
                            transform: scaleX(1);
                }
            }
            }
        }
        }
        
            
}