.navbar {
  position: absolute;
  padding: 20px 0;
  z-index: 150;
        .navbar-brand {
          font-size: 2.4em;
          color: #fff;
          font-family: $work;
          font-weight: bold;
        }
    
        .navbar-contact {
          text-decoration: none;
          color: #fff;
          font-size: 1.4em;
    
          .nav-tel {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: rgba(255, 255, 255, .1);  
            color: #fff;      
            border: none;
            margin-right: 10px;
          }
        }
        
        .navbar-collapse {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .navbar-nav {
            .nav-item {
              .nav-link {
                text-decoration: none;
                color: #fff;
                font-size: 1.4em;
                margin: 10px;
                font-family: $roboto;
              }
            }
          }
        }
      }

      .shadow-bg {
        background-color: rgba(0, 145, 124, .9);
      
        .dropdown-menu {
          border: none;
              background-color: rgb(0, 158, 255);
              .dropdown-item {
                color: #fff;
                padding-left: 25px;
                font-size: 2em;
                transition: .5s color;
              }
              .dropdown-item:hover {
                color: gold;
                background-color: transparent;
              }
            }
      }
      